services:
  mongodb:
    image: mongo:6.0
    container_name: mongodb
    restart: always
    volumes:
      - mongodb_data:/data/db
    networks:
      - open5gs-net
    ports:
      - "27017:27017"
    healthcheck:
      test: ["CMD", "mongo", "--eval", "db.runCommand({ connectionStatus: 1})"]
      interval: 1m30s
      timeout: 10s
      retries: 5 
  open5gs:
    build:
      context: .
      dockerfile: open5gs/Dockerfile
    container_name: open5gs
    depends_on:
      - mongodb
    environment:
      - MONGO_URI=mongodb://mongodb/open5gs
      - OGS_LOG_LEVEL=debug
    cap_add:
      - NET_ADMIN
    devices:
      - /dev/net/tun
    networks: 
      - open5gs-net
    volumes:
      - ./config/active_config/open5gs:/config/active_config/open5gs
      - ./scripts:/scripts
    privileged: true
    restart: unless-stopped


  srsran:
    build:
      context: .
      dockerfile: srsran/Dockerfile
    container_name: srsran
    privileged: true
    networks:
      - open5gs-net
    restart: unless-stopped

networks:
  open5gs-net:
volumes:
  mongodb_data: